body {
	display: flex;
	flex-direction: column;
	min-height: 100vh; 
	/* be at least a full viewport height */
	/* consider 100svh and 100dvh too */
} 

main {
	flex-grow: 1; 
	/* fill up available space which happens push the footer down to the bottom */
}

inner-column {
	width: 100%;
	max-width: 1270px; 
	margin-inline: auto; /* horizontally center this by default */
	padding-inline: 32px; /* a loose default */
}
